body{
    padding:0px;
    margin:0px;

}
#body-header
{
  background-image: url("Assets/Images/Resume/Cover\ Image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height:65vh;

}


